# Default ignored files
/../../../../:untitled/minitest1/.idea/shelf/
/../../../../:untitled/minitest1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:untitled/minitest1/.idea/httpRequests/
